<!DOCTYPE html>
<html lang="<%= i18n.getLocale() %>">
  <head>
    <%- include('../parts/head'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  </head>
  <body>
    <main>
      <section class="login-section sections-padding">
        <div class="container login-container" onclick="onclick">
          <div class="top"></div>
          <div class="bottom"></div>
          <div class="box">
            <div class="center">
              <form action="/login" method="POST" class="form">
                <div class="input-box">
                  <h2 class="login-header">
                    Welcome to
                    <span
                      class="icon-link icon-header link header-paddings header-color"
                      ><span class="icon-link-web">Easy</span>Manager</span
                    >
                    <p class="login-p">Please, log in</p>
                  </h2>
                  <input
                    type="email"
                    name="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    required
                  />
                  <span class="login_input">Email</span>
                  <i></i>
                </div>
                <div class="input-box">
                  <input type="password" name="password" required />
                  <span class="login_input">Password</span>
                  <i></i>
                </div>
                <button class="modal-form-btn hero-btn" type="submit">
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
